.top_card_wrapper {
    height:300px;
    /* border: 2px dashed red; */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/Pizza_1_bg.jpg");
}

.top_info_wrapper {
    margin-left: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.single_bus_name {
    font-size: 45px;
    color: white
}

.single_bus_rating {
    font-size: 25px;
    color:white
}

.single_bus_address, .single_bus_location {
    font-size: 15px;
    color: white;
}

.single_bus_description {
    font-size: 15px;
    color:white
}
