.all_bus_wrapper {
    margin-left: 25%;
    margin-right: 25%;

    margin-top:2rem;

    padding-bottom:50px;
}

.all_bus_bottom_border{
    border-bottom:1px solid gray;
}

.all_bus_caption{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    font-size:25px;
    font-weight:bold;

    word-wrap:break-word;
}
.all_bus_caption_search{
    display:flex;
    flex-direction:column;
    align-items:center;

    font-size:25px;
    font-weight:bold;

    gap:.5rem;

    word-wrap:break-word;
}
.all_bus_caption_search > span{
    font-size:18px;
    color:red;
    font-weight:bold;
    word-wrap:break-word;
    width:100%
}

.all_bus_sort_wrapper{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap: .5rem;

    margin-top:2rem;
}

.all_bus_sort_option{
    color:teal;
    cursor:pointer;
    font-size:18px;
}

.all_bus_sort_option.active_sort_all{
    /* double class to override previous one although order is also enough*/
    color:black;
    font-weight:bold;
}
.all_bus_sort_option:hover{
    font-weight:bold;
}
