/* .bus_form_h1 {
    margin-left: 15%;
    margin-right: 15%;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
} */

.add_your_business {
    font-weight:bold;
    font-size:20px;
    display: flex;
    flex-direction:row;
    justify-content:center;
}

.bus_form_page_wrapper {
    margin-left: 15%;
    margin-right: 15%;

    margin-top:10%;
    margin-bottom: 5%;

    /* height:382px; */

    display:flex;
    flex-direction:row;
    align-items:center;
    /* justify-content:space-between; */
    gap: 5%;
}

.bus_form_right_image_wrapper {
    /* height: 100%; */
    height: 382px;
    width: 65%;
}
.bus_form_logo_image {
    height: 100%;
    width: 100%;
}

.bus_form_wrapper {
    height: 100%;
    width: 35%;

    display:flex;
    flex-direction: column;
    justify-content:center;
    gap: 5%;
}

.not_file_input {
    width: 100%;
    height: 27px;
}

.file_input {
    height: 27px;
}

.bus_form_submit_button {
    width: 100%;
    height: 40px;
    background-color: red;
    color:white;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
}

.bus_form_errors {
    color: red;
    font-size:12px;
}

.form_images {
    height: 50px;
    width: 50px;
}

.bus_form_bottom_images {
    display: flex;
    flex-direction:row;
    gap:1rem;
}

/* .optionalImagePar {
    display:flex;
    flex-direction:column;
    align-items: center;
} */

.image_and_delete_button {
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap:.2rem;
}

.bus_form_delete_image_button{
    /* width: 50px;
    height: 25px; */
    background-color: red;
    color:white;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
}
