.single_reply_wrapper{
    border-left:4px solid teal;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 3rem;
}

.single_reply_image_and_owner_wrapper{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}

.single_reply_image_wrapper{
    height:50px;
    width:50px;
}

.single_reply_owner_pic{
    height: 100%;
    width: 100%;
}
