.top_landing_page {
    height: 500px;
    margin-bottom:3rem;
}

.landing_middle_bottom_wrapper{
    margin-left: 5%;
    margin-right: 5%;

    display:flex;
    flex-direction:column;
    gap:2rem;
}

.recent_activity{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-size:25px;
    font-weight: bold;
    margin-bottom:2rem;
}

.see_all{
    color:teal;
    font-size: 20px;
    cursor:pointer;
}

.new_businesses{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.new_one{
    margin-bottom:1rem;
}

.categories_wrapper{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    margin-top:1rem;
}

.category_caption{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-size:25px;
    font-weight: bold;

    margin-bottom:1.5rem;
}

.categories{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap: 1rem;
}

.category{
    height:150px;
    width:25%;

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    box-shadow:0 0 3px black;

    font-weight:bold;
    color:teal;
}

.category, .bottom_item,
.bottom_top_item{
    cursor:pointer;
}

.bottom_wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    margin-top:1.5rem;
    padding-bottom:3rem;
}

.bottom_column{
    display: flex;
    flex-direction:column;
    gap: .5rem;
}

.bottom_top_item{
    font-weight:bold;
    margin-bottom:.5rem;
}
.bottom_item{
    font-size:12px;
}
