/* TODO Add site wide styles */

* {
    box-sizing: border-box;
}

body {
    font-family: "Neue Plak", sans-serif;
    /* background-color: white; */
    background-color: #eeedf2;
    /* margin: 0; */
    /* check margin later */
}
