.login_page_wrapper {
    margin-left: 15%;
    margin-right: 15%;

    margin-top:10%;

    height:382px;

    display:flex;
    flex-direction:row;
    gap: 5%;
}

.login_right_image_wrapper {
    height: 100%;
    width: 65%;
}
.login_logo_image {
    height: 100%;
    width: 100%;
}
.login_left_content_wrapper {
    height: 100%;
    width: 35%;

    display:flex;
    flex-direction: column;
    justify-content:center;
    gap: 5%;
}

.left_content_top_wrapper {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;
    gap: .4rem;
}

.login_input {
    width: 100%;
    height: 27px;
    border:2px solid teal;
    border-radius:5px;
    font-weight:bold;
}
.login_button {
    width: 100%;
    height: 40px;
    background-color: red;
    color:white;
    font-weight:bold;
    font-size:15px;
    cursor:pointer;
    box-shadow:3px 3px 3px black;
}

.login_to_gulp {
    font-size:20px;
    font-weight: bold;
    color: red;
}
.new_to_gulp {
    font-size:17px;
    color: black;
}
.terms {
    font-size: 11px;
}

.login_errors {
    color: red;
}

@media screen and (max-width:750px){
    .login_right_image_wrapper{
        display:none;
    }
    .login_page_wrapper {
        margin-left: 25%;
        margin-right: 25%;
    }
    .login_left_content_wrapper {
        height: 100%;
        width: 100%;
        max-width:250px;

        display:flex;
        flex-direction: column;
        justify-content:center;
        gap: 5%;
    }
}
