.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 35px;
  background-color:white;
  width: 200px;
  height: 300px;
  border-radius:5px;
  box-shadow:0 0 7px black;

  list-style-type: none;

  display:flex;
  flex-direction:column;
  justify-content:space-evenly;

  /* clicking logout on the single bus page wasn't working
  b/c of a conflict w/ the background image, adjust with z index*/
  z-index: 1;
}
.profile-dropdown > li {
  font-size: 20px;
  cursor:pointer;
}
.profile-dropdown > li:hover{
  color:teal;
  font-weight:bold;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-bottom: 1.5%;
}

.header_gulp_and_logo {
  display: flex;
  flex-direction: row;
  gap: .2rem;
  align-items: center;
}

.gulp {
  font-size:30px;
  cursor: pointer;
}
.fa-yelp {
  color:red;
}
.header_input_and_glass {
  width: 40%;
  display: flex;
  flex-direction:row;
}
.header_input_and_glass > input {
  height: 45px;
  width: 85%;
  font-size:20px;
}
.glassWrapper {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:55px;
  background-color: red;
  cursor:pointer;

  position:relative;
}
.fa-magnifying-glass {
  color: white;
}
.fa-tag{
  position: absolute;
  right:65px;
  cursor:pointer;
  color:black;
}
.fa-tag.red_tag{
  color:red;
}

.addBus{
  color:teal;
  font-size:20px;
  font-weight:bold;
}
.addBus_mediaQ{
  display:none
}
.addBus:hover, .addBus_mediaQ:hover{
  text-decoration:underline;
}

.nav_logged_in_right {
  display: flex;
  flex-direction: row;
}

.nav_icon_wrapper {
  display: flex;
  flex-direction:row;
  gap: .7rem;
  align-items: center;
}
.nav_icon_wrapper > button {
  border:none;
}
.fa-message, .fa-bell, .fa-user-circle {
  font-size:20px;
  color:teal;
}

.fa-message, .fa-bell, .fa-user-circle, .fa-magnifying-glass,  .addBus,
.nav_login_button, .nav_signup_button {
  cursor: pointer;
}

.nav_logged_out_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.nav_logged_out_buttons > button {
  height: 45px;
  width: 90px;
  font-size: 17px;
  border-radius:5px;
}

.nav_login_button{
  background-color: white;
  color:black;
  border:1px solid gray;
}
.nav_signup_button{
  background-color: red;
  color:white;
  border:1px solid red;
}

.search_bar{
  border:2px solid teal;
  font-weight:bold;
  border-radius:5px;
}

@media screen and (max-width:575px){
  .gulp {
    font-size:20px;
  }
  .nav_logged_out_buttons{
    gap: .3rem;
  }
  .nav_logged_out_buttons > button {
    height: 30px;
    width: 60px;
    font-size: 12px;
    border-radius:5px;
  }
  .header_input_and_glass > input {
    height: 30px;
    width: 85%;
    font-size:15px;
  }
  .glassWrapper{
    height: 30px;
    width:45px;
  }
  .addBus{
    display:None;
  }
  .addBus_mediaQ{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size: 11px;
    font-weight:bold;
    color: teal;
    cursor: pointer;
  }
  .fa-message, .fa-bell, .fa-user-circle {
    font-size:15px;
  }
}
