.rev_card_wrapper {
    margin-top: 2rem;

    display:flex;
    flex-direction:column;
    gap: .5rem;

    /*can't give a height b/c need to display full text of review*/
}

.bus_name_in_review{
    font-size:16px;
    font-weight:bold;
}

.bus_name_link{
    color:teal
}

.bus_name_link:hover{
    text-decoration:underline;
    font-weight:bold;
    cursor:pointer;
}

.business_and_edit_delete_section{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

.rev_card_buttons_wrapper{
    display:flex;
    flex-direction:row;
    gap: .5rem;
}

.rev_edit, .rev_cancel_delete{
    font-size: 20px;
    color:black;
    cursor:pointer;
}
.rev_delete, .rev_confirm_delete{
    font-size: 20px;
    color:red;
    cursor:pointer;
}
.owner_reply, .owner_reply_again{
    font-size: 20px;
    color:teal;
    cursor:pointer;
}
.rev_edit:hover, .rev_delete:hover,
.rev_cancel_delete:hover, .rev_confirm_delete:hover,
.owner_reply:hover, .owner_reply_again:hover{
    /* text-decoration:underline; */
    font-weight:bold;
}

.reviewer_section {
    height: 65px;

    display: flex;
    flex-direction: row;
    /* this is why edit/delete buttons positioned close */
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.reviewer_info_wrapper{
    display:flex;
    flex-direction: column;
    gap: .3rem;
}

.reviwer_username {
    font-weight:bold;
    font-size:20px;
}

.reviewer_numReviews {
    font-size:15px;
}

.reviewer_rating {
    display:flex;
    flex-direction:row;
    gap: 1rem;
}

.review_text {
    /* word-break: break-all; */

    /* word-wrap better for readability */
    word-wrap: break-word;
    font-size:17px;
}

.reviewer_image_wrapper {
    height: 100%;
    width: 15%;
    /* border: 1px dashed red; */
}

.reviewer_image {
    height: 100%;
    width: 100%;
    border-radius:5px;
}

.submitted_images_wrapper {
    display: flex;
    flex-direction: row;
    gap: .6rem;

    height: 150px;

    margin-top:1rem;
    /* border: 1px dashed blue; */
}
.submitted_image_wrapper {
    height: 100%;
    width: 33%
}
.submitted_image {
    height: 100%;
    width: 100%;
    border-radius:5px;
}

.all_replies_wrapper{
    margin-top: 1rem;
}

.reply_form_wrapper{
    margin-top: 1rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left:4px solid teal;
    height: 250px;

    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items:center;
}
.reply_form_wrapper > form {
    display:contents;
}
.reply_form_text_area{
    width: 100%;
    height: 125px;
}
.submit_reply_button, .cancel_reply_button{
    width: 40%;
    height: 30px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    color:white
}
.submit_reply_button{
    background-color:red;
}
.cancel_reply_button{
    background-color:darkblue;
}
