.rev_card_wrapper {
    margin-top: 2rem;

    display:flex;
    flex-direction:column;
    gap: .5rem;

    /*can't give a height b/c need to display full text of review*/
}

.reviewer_section {
    height: 65px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.reviewer_info_wrapper{
    display:flex;
    flex-direction: column;
    gap: .3rem;
}

.reviwer_username {
    font-weight:bold;
    font-size:20px;
}

.reviewer_numReviews {
    font-size:15px;
}

.reviewer_rating {
    display:flex;
    flex-direction:row;
    gap: 1rem;
}

.review_text {
    /* word-break: break-all; */
    word-wrap: break-word;
    font-size:17px;
}

.reviewer_image_wrapper {
    height: 100%;
    width: 15%;
    /* border: 1px dashed red; */
}

.reviewer_image {
    height: 100%;
    width: 100%;
    border-radius:5px;
}

.submitted_images_wrapper {
    display: flex;
    flex-direction: row;
    flex-direction: space-evenly;
    gap: .6rem;

    height: 150px;

    margin-top:1rem;
    /* border: 1px dashed blue; */
}
.submitted_image_wrapper {
    height: 100%;
    width: 33%
}
.submitted_image {
    height: 100%;
    width: 100%;
    border-radius:5px;
}
