.user_profile_wrapper {
    margin-left: 7.5%;
    margin-right: 7.5%;

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.user_profile_left_wrapper {
    height: 400px;
    width: 41%;
    box-shadow:0 0 2px black;
    padding: 1rem;
    padding-top:3rem;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 1rem;

    /* background-color:white; */
}

.user_profile_image_wrapper{
    height: 35%;
    width: 45%;
    /* border: 1px solid gray; */
}

.user_profile_image{
    height:100%;
    width:100%;
    border-radius:7px;
}

.user_profile_username{
    font-weight: bold;
    font-size: 20px;
}

.user_profile_options{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1rem;
}
.user_profile_single_option{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:.2rem;
    cursor:pointer;
    color:teal;
}

.single_option_text {
    font-weight:bold;
    font-size:12px;
}

.user_image_form_wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 1rem;
}
.user_image_form_wrapper > form {
    display:contents;
}
.user_image_input{
    /* border: 1px dashed red; */
    width: 180px;

}
.user_file_span{
    font-size:18px;
    color:teal;
    font-weight:bold;
}
.user_file_span > .fa-pen-to-square{
    cursor:pointer;
}
.user_file_span > .fa-upload{
    cursor:pointer;
}
.user_image_button{
    cursor:pointer;
    background-color:red;
    color:white;
    width: 150px;
    height: 40px;
    box-shadow: 3px 3px 3px black;
}
.user_image_cancel_button{
    cursor:pointer;
    background-color:darkblue;
    color:white;
    width:150px;
    height:40px;
    box-shadow: 3px 3px 3px black;
}
.user_image_error{
    color:red;
}

.user_profile_middle_wrapper {
    width:59%;
    /* border: 1px dashed blue; */
}

.bus_rev_selection_wrapper{
    display:flex;
    flex-direction:row;
    gap:1rem;
}

.user_profile_caption{
    font-weight:bold;
    font-size:20px;
}

.inactive {
    color:teal;
}
.inactive:hover{
    text-decoration:underline;
    cursor:pointer;
}
