.mini_bus_card_wrapper{
    display:flex;
    flex-direction:column;
    gap: .5rem;

    cursor:pointer;
}

.mini_preview_image_wrapper{
    height: 150px;
    width: 250px;
}

.mini_bus_preview{
    height: 100%;
    width: 100%;
    border-radius:5px;
    object-fit:cover;
}

.mini_average_and_stars{
    display:flex;
    flex-direction:row;
    gap: .3rem;
}

.mini_first_review{
    color:red;
    word-wrap:break-word;
}

.mini_business_name{
    font-weight:bold;
    color:teal;
    word-wrap:break-word;
}

@media screen and (max-width:850px){
    .mini_preview_image_wrapper{
        height: 150px;
        width: 275px;
    }
}
