.bus_card_wrapper {
    /*test*/
    margin-top: 2rem;

    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 250px;
    /* margin-bottom: 2rem; */

    padding-left:1rem;
    padding-right:1rem;
    padding-top: 2rem;

    border-top:1px solid gray;
    /* border-bottom: .5px solid gray; */

    position:relative;
    /*to position the absolute button*/
}
.bus_card_wrapper:hover {
    /* border-left:1px solid gray;
    border-right:1px solid gray; */
    border:none;
    /* background-color:white; */
    background-color:rgb(242,242,242);
    box-shadow:0 0 5px gray;
}

.bus_info_wrapper {
    height: 100%;
    width: 70%;
    /* border: 2px dashed orange; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;

    cursor:pointer;
}

.bus_card_name_and_buttons_wrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.business_name {
    color:black;
    font-weight:bold;
    font-size: 20px;
}

.business_name:hover{
    text-decoration:underline;
}

/* .bus_card_buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
} */

.bus_card_buttons_not_confirm, .bus_card_buttons_confirm{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.bus_edit, .bus_cancel_delete{
    font-size: 20px;
    color:black;
    cursor:pointer;
}
.bus_delete, .bus_confirm_delete{
    font-size: 20px;
    color:red;
    cursor:pointer;
}

.bus_edit:hover, .bus_delete:hover,
.bus_confirm_delete:hover, .bus_cancel_delete:hover{
    font-weight:bold;
}

.preview_image_wrapper {
    height: 60%;
    width: 30%;
    display:flex;
    flex-direction: row;
    align-items:center;

    position:relative;
    /*this relative so i can position the absolutely
    positioned arrows relatie to this div*/
}

.bus_preview {
    height: 100%;
    width: 100%;
    /* border: 2px dashed purple; */
    border-radius:5px;
}

.average_and_stars{
    display:flex;
    flex-direction:row;
    gap: .2rem;
}

.first_review{
    color:red;
}

.fa-arrow-left.bus_card {
    position: absolute;
    top: 60px;
    left: -15px;
    color:black;
    font-weight:bold;
    /*don't think font-weight does anything for <i>*/
    cursor:pointer;
}

.fa-arrow-right.bus_card {
    position: absolute;
    top: 60px;
    right: -15px;
    color:black;
    font-weight:bold;
    /*don't think font weight does anything for <i>*/
    cursor:pointer;
}

.bus_card_address, .bus_card_city_state,
.bus_card_description, .business_name{
    /* word-break: break-all; */
    /* break the words at any character to prevent overflow*/

    word-wrap: break-word;
    /* break words at arbitrary points to prevent overflow*/

    overflow:hidden;
    /*overflow-wrap: break-word; */
    /* overflow: scroll; */
}

.bus_card_description {
    font-size:14px;
}

.bus_card_order_button{
    position: absolute;
    bottom:1rem;
    right:1rem;
    width: 100px;
    height: 40px;

    font-weight:bold;
    cursor:pointer;
}

.bus_card_read_more{
    color:teal;
}
