.bus_card_wrapper {
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 250px;
    border: 2px dashed blue;
    margin-bottom: 2rem;

    padding-left:1rem;
    padding-right:1rem;
    padding-top: 2rem;

    cursor:pointer;
}

.bus_info_wrapper {
    height: 80%;
    width: 70%;
    /* border: 2px dashed orange; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}

.bus_card_name_and_buttons_wrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.business_name {
    color:black;
    font-weight:bold;
    font-size: 20px;
}

.business_name:hover{
    text-decoration:underline;
}

.bus_card_buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.bus_edit{
    font-size: 20px;

    color:blue;
}
.bus_delete{
    font-size: 20px;
    color:red;
}

.preview_image_wrapper {
    height: 60%;
    width: 30%;
    display:flex;
    flex-direction: row;
    align-items:center;
    /* border: 2px dashed red; */
}

.bus_preview {
    height: 100%;
    width: 100%;
    /* border: 2px dashed purple; */
}

.average_and_stars{
    display:flex;
    flex-direction:row;
    gap: .2rem;
}
