.bus_card_wrapper {
    /*test*/
    margin-top: 2rem;

    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 250px;
    max-width: 600px;
    /* height: 225px; */
    /* margin-bottom: 2rem; */

    padding-left:1rem;
    padding-right:1rem;
    padding-top: 2rem;

    border-top:1px solid gray;
}
.bus_card_wrapper:hover {
    border:none;
    background-color:rgb(242,242,242);
    box-shadow:0 0 5px gray;
}

.bus_info_wrapper {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    /* the tag and button div at the bottom has
        some extra margin-top*/

    cursor:pointer;
}

.bus_card_name_and_buttons_wrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}


.business_name {
    color:black;
    font-weight:bold;
    font-size: 20px;
}

.business_name:hover{
    text-decoration:underline;
}

.bus_card_buttons_not_confirm, .bus_card_buttons_confirm{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.bus_edit, .bus_cancel_delete{
    font-size: 20px;
    color:black;
    cursor:pointer;
}
.bus_delete, .bus_confirm_delete{
    font-size: 20px;
    color:red;
    cursor:pointer;
}

.bus_edit:hover, .bus_delete:hover,
.bus_confirm_delete:hover, .bus_cancel_delete:hover{
    font-weight:bold;
}

.preview_image_wrapper {
    height: 60%;
    width: 30%;
    display:flex;
    flex-direction: row;
    align-items:center;

    position:relative;
    /*this relative so i can position the absolutely
    positioned arrows relative to this div*/
}

.bus_preview {
    height: 90%;
    width: 100%;
    border-radius:5px;
    object-fit:cover;
}
@media screen and (max-width:950px){
    .bus_preview{
        height: 85%;
    }
}

.average_and_stars{
    display:flex;
    flex-direction:row;
    gap: .2rem;
}

.first_review{
    color:red;
}

.fa-arrow-left.bus_card {
    position: absolute;
    left: -15px;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

.fa-arrow-right.bus_card {
    position: absolute;
    right: -15px;
    color:black;
    cursor:pointer;
}

.bus_card_address, .bus_card_city_state,
.bus_card_description, .business_name{
    /* word-break: break-all; */
    /* break the words at any character to prevent overflow*/

    word-wrap: break-word;
    /* break words at arbitrary points to prevent overflow*/

    overflow:hidden;
    /*overflow-wrap: break-word; */
    /* overflow: scroll; */
}

.bus_card_description {
    font-size:14px;
}

.tags_and_order_button_wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    /* gap: .2rem; */
    flex-wrap:wrap;

    margin-top:.5rem;
}

.bus_card_tag{
    font-size:14px;
    font-weight:bold;
}

.bus_card_order_button{
    /* position: absolute;
    bottom:1rem;
    right:1rem; */
    width: 100px;
    height: 40px;

    font-weight:bold;
    cursor:pointer;
}

.bus_card_read_more{
    color:teal;
}

.fa-heart.red{
    color:red;
    font-weight:bold;
    cursor:pointer;
}
.fa-heart.black{
    color:black;
    cursor:pointer;
}
