.rating-input{
    display:flex;
    flex-direction:row;
    gap: .3rem;
}

.filled {
    color: red;
}

/* .partial {
    position: relative;
    color:red;
    overflow:hidden;
}

.partial::before {
    position: absolute;
    z-index: index 1;
    top: 0;
    left: 0;
    overflow:hidden;
} */
